@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-baij: var(--font-bai-jamjuree);

  
   /* Colors */
   --color-strong-cyan: hsl(171, 66%, 44%);
   --color-light-blue: hsl(233, 100%, 69%);
   --color-dark-grayish-blue: hsl(210, 10%, 33%);
   --color-grayish-blue: hsl(201, 11%, 66%);
   --color-light-graysh: hsl(205.71deg 2.96% 69.32%);

   /* Breakpoints (Optional if needed) */
  --breakpoint-xxsm: 320px;
  --breakpoint-xsm: 375px;

  /* background image */
  --background-image-hero : url('../../public/source/images/bg-header-mobile.png');
  --background-image-hero-desk : url('../../public/source/images/bg-header-desktop.png');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.pl{
  background-image: url('../../public/source/images/bg-header-desktop.png');
}

.icon {
  @apply w-6 h-auto text-zinc-700 cursor-pointer hover:text-strong-cyan
}

.shadG {
  box-shadow: 0px 2.5px 0px 0px #1c8978;
}
.shadB {
  box-shadow: 0 2.5px #4d58ab;
}

.link{
  @apply text-xl text-gray-600 hover:underline cursor-pointer xl:text-2xl
}
